.peta div div a {
  /* box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.655); */
  transition: all 3s;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  -webkit-text-stroke: rgba(0, 0, 0, 0.632) 1px;
  color: white;
  opacity: 0;
}

.peta div div a:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.655);
  backdrop-filter: blur(4px);
  transition: all 0.7s;
}

.peta {
  background-image: url("../assets/table.jpg");
  background-size: cover;
}

.footer {
  background-image: linear-gradient(#f3f4f6, rgba(196, 193, 193, 0.5));
  backdrop-filter: blur(4px);
  text-shadow: #000000 0.1em 0.1em 0.2em;
}
